/* 
   BODY RESET
*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button{
	padding: 3px;
	border-radius: 5px;
}

/*--------------------------------------------HOME--------------------------------------------------------*/
.pageLogin {
	background-color: white;
	width: auto;
	width: auto;
	height: 800px;
}

.footer {
	background-color: #e2e2e2;
	padding: 50px;
}


/*ICONOS SVG*/
.iconoAribyt {
	fill: whitesmoke;
	width: 800px;
	height: auto;
	padding: 150px;
}


/*------------------------------------------NAVEGADOR--------------------------------------------------------*/
.containerNav {
	background-color: #e2e2e2;
	padding: 20px;
}
.iconos_footer {
	font-size: 30px;
	margin-right: 5px;
	color: #4dada4;
}

.boton_logOut {
	width: auto;
	border-radius: 5px;
	border-style: none;
	padding: 6px;
	background-color: whitesmoke;
	color: #4dada4;
	font-weight: 700;
}

.botonLogin {
	width: auto;
	border-style: none;
	border-radius: 5px;
	padding: 6px;
	background-color: whitesmoke;
	color: #4dada4;
	font-weight: 700;
}

.boton_home {
	font-size: 35px;
	margin-right: 5px;
	color: #4dada4;
}


/*-----------------------------------FORMULARIO-----------------------------------------*/

.formulario {
	min-width: 600px;
	margin-top: 50px;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.formulario > div {
	margin-bottom: 10px;
}

.formulario label {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.botonSiguienteFormulario {
	display: block;
	background: #4dada4;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	margin-top: 20px;
}

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #4dada4 ;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: block;
	background: #4dada4;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: #0051ff;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.formulario input[type="radio"] {
	width: auto;
}


.containerFormClasificadora{
	background-color: #4dada4;
}


/*---------------------------------------Roles--------------------------------------*/

.containerRoles {
	justify-content: center;
}

.iconRoles {
	width: 60px;
	align-items: center ;
	margin-top: 25px;
	fill: black;
}

.tituloRoles {
	font-size: 30px;
	padding: 20px;
	color: black;
}

.botonRoles {
	background-color: white;
	color: #bbbcbb;
	border-radius: 50px;
	cursor: pointer;
	
}

/*------------------------Use state cambio de color----------------------*/

.roleMecanicoGreen {
	background-color: #4dada4;
	border-radius: 30px;
	transition-duration: 1s;
}
.roleMecanicoGray{
	background-color: #e2e2e2;
	border-radius: 30px;
}
.roleClasificadoraGreen {
	background-color: #4dada4;
	border-radius: 30px;
	transition-duration: 1s;
}
.roleClasificadoraGray{
	background-color: #e2e2e2;
	border-radius: 30px;
}
.roleEncargadoGreen {
	background-color: #4dada4;
	border-radius: 30px;
	transition-duration: 1s;
}
.roleEncargadoGray{
	background-color: #e2e2e2;
	border-radius: 30px;
}


.logo {
	background-color: #4dada4;
	width: auto;
	padding: 40px;
}

/*SELECCION DE AREAS ENCARGADO*/

.botonAreas {
	background-color: #4dada4;
	margin: 10px;
	padding: 12px;
	color: white;
	border-style: none;
	border-radius: 10px;
	width: auto;
}

.iconsAreas {
	fill: white;
	width: 20px;
}


/*PAGINA ENCARGADO SELECCION ROLES*/

.seleccionTurnoMañanaGris {
	background-color: #bbbcbb;
	padding: 10px;
	margin: 10px;
	color: black;
	border-radius: 10px;
	transition-duration: 0.5s;

}
.seleccionTurnoMañanaVerde{
	background-color: #4dada4;
	padding: 10px;
	margin: 10px;
	color: white;
	border-radius: 10px;
	transition-duration: 1s;
}

.seleccionTurnoTardeGris {
	background-color: #bbbcbb;
	padding: 10px;
	margin: 10px;
	color: black;
	border-radius: 10px;
	transition-duration: 0.5s;

}
.seleccionTurnoTardeVerde{
	background-color: #4dada4;
	padding: 10px;
	margin: 10px;
	color: white;
	border-radius: 10px;
	transition-duration: 1s;
}

.seleccionTurnoNocheGris {
	background-color: #bbbcbb;
	padding: 10px;
	margin: 10px;
	color: black;
	border-radius: 10px;
	transition-duration: 0.5s;

}
.seleccionTurnoNocheVerde{
	background-color: #4dada4;
	padding: 10px;
	margin: 10px;
	color: white;
	border-radius: 10px;
	transition-duration: 1s;
}






/*PRUEBA CSS DESAPARECER*/

.visibility {
	visibility: block;
	margin: 30px;
}

.hidden {
	display: none;
}

.visibility1 {
	visibility: block;
	margin: 30px;

}

.hidden1 {
	display: none;
}

pruebas opacidad*/
.opacity {
   opacity: 1;
   
 
   background-color: #4dada4;

}

 .opacityDone {
   opacity: 0;
   transition-duration: 5s;
   transition-delay: 2s;
   background-color: white;
}

/*HORAS*/

.botonHoras{
	padding: 15px;
	width: 200px;
	border-style: none;
	background-color: #e2e2e2;
	margin: 5px;
	border-radius: 15px;
}

.botonHoras:hover{
	padding: 15px;
	width: 200px;
	border-style: none;
	background-color: #4dada4;
	margin: 5px;
	border-radius: 15px;
}

.botonRechazos{
	padding: 15px;
	width: 200px;
	border-style: none;
	background-color: #4dada4;
	margin: 5px;
	border-radius: 15px;
	color: white;
}
.botonRechazos:hover{
	padding: 15px;
	width: 200px;
	border-style: none;
	background-color: #e2e2e2;
	margin: 5px;
	border-radius: 15px;
	color: black;
}

/*Vista encargado pruebas mostrar ocultar columnas*/

.visible {
	display: block;
}

.esconder {
	display: none;
}


