/* 
   BODY RESET
*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button{
	padding: 3px;
	border-radius: 5px;
}

/*--------------------------------------------HOME--------------------------------------------------------*/
.pageLogin {
	background-color: white;
	width: auto;
	width: auto;
	height: 800px;
}

.footer {
	background-color: #e2e2e2;
	padding: 50px;
}


/*ICONOS SVG*/
.iconoAribyt {
	fill: whitesmoke;
	width: 800px;
	height: auto;
	padding: 150px;
}


/*------------------------------------------NAVEGADOR--------------------------------------------------------*/
.containerNav {
	background-color: #e2e2e2;
	padding: 20px;
}
.iconos_footer {
	font-size: 30px;
	margin-right: 5px;
	color: #4dada4;
}

.boton_logOut {
	width: auto;
	border-radius: 5px;
	border-style: none;
	padding: 6px;
	background-color: whitesmoke;
	color: #4dada4;
	font-weight: 700;
}

.botonLogin {
	width: auto;
	border-style: none;
	border-radius: 5px;
	padding: 6px;
	background-color: whitesmoke;
	color: #4dada4;
	font-weight: 700;
}

.boton_home {
	font-size: 35px;
	margin-right: 5px;
	color: #4dada4;
}


/*-----------------------------------FORMULARIO-----------------------------------------*/

.formulario {
	min-width: 600px;
	margin-top: 50px;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.formulario > div {
	margin-bottom: 10px;
}

.formulario label {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: block;
	background: #4dada4;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: #0051ff;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.formulario input[type="radio"] {
	width: auto;
}


.containerFormClasificadora{
	background-color: #4dada4;
}


/*---------------------------------------Roles--------------------------------------*/

.containerRoles {
	justify-content: center;
}

.iconRoles {
	width: 60px;
	align-items: center ;
	margin-top: 25px;
	fill: black;
}

.tituloRoles {
	font-size: 30px;
	padding: 20px;
	color: black;
}

.botonRoles {
	background-color: white;
	color: #bbbcbb;
	border-radius: 50px;
	cursor: pointer;
	
}

/*------------------------Use state cambio de color----------------------*/

.roleMecanicoGreen {
	background-color: #4dada4;
	border-radius: 30px;
	transition-duration: 1s;
}
.roleMecanicoGray{
	background-color: #e2e2e2;
	border-radius: 30px;
}
.roleClasificadoraGreen {
	background-color: #4dada4;
	border-radius: 30px;
	transition-duration: 1s;
}
.roleClasificadoraGray{
	background-color: #e2e2e2;
	border-radius: 30px;
}
.roleEncargadoGreen {
	background-color: #4dada4;
	border-radius: 30px;
	transition-duration: 1s;
}
.roleEncargadoGray{
	background-color: #e2e2e2;
	border-radius: 30px;
}


.logo {
	background-color: #4dada4;
	padding: 100px;
   height: auto;
   width: auto;
}
/*pruebas opacidad*/
/* .opacity {
   opacity: 1;
   
 
   background-color: #4dada4;
   padding: 100px;
   height: auto;
   width: auto;
 } */

/* .opacityDone {
   opacity: 0;
   transition-duration: 5s;
   transition-delay: 1s;
   background-color: white;
   padding: 100px;
   height: auto;
   width: auto;
} */


/**/
/*CLase que aplica los estilos al elemento a aparecer*/
.show-element {
  /*duracion de la animacion, puedes variar el tiempo, entre mas grande mas tarda el efecto*/
  animation-duration: 2s;
  animation-fill-mode: both;
  /*le indicas que animacion quieres aplicarle, animacion hecha por ti en un keyframe*/
  animation-name: fadeIn;
  background-color: rgb(225, 225, 255);
}

.hide-element {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeOut;
}

/*KeyFrames*/
/*La animacion hecha por ti, puedes ponerle cualquier nombre, solo es para identificarlo*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*Puedes hacer mas animaciones personalizadas con todo lo que pueda hacer css*/
@keyframes otherAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animationTranslateIn {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes animationTranslateOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 1;
    transform: translateX(-200px);
  }
}
